<div class="page-header">
  <h1 class="page-header-elem">{{loggedUser.name}} {{loggedUser.surname}}</h1>
  <ul>
    <li *ngFor="let achievement of achievements">{{achievement}}</li>
  </ul>
  <div class="buttons">
    <button routerLink="/create" class="important-button" id="create-corepeat">
      <i class="icon fa fa-plus-circle" aria-hidden="true"></i>Utwórz Corepeata
    </button>
  </div>
</div>

<div class="dashboard">
  <div class="corepeats-coming column">
    <h2><i class="icon-extended fa fa-calendar" aria-hidden="true"></i>Nadchodzące Corepeaty</h2>
    <app-corepeat-list [timeSelector]="timeSelectorType.AFTER_CURRENT"></app-corepeat-list>
  </div>
  <div class="corepeats-past column">
    <h2><i class="icon-extended fa fa-book" aria-hidden="true"></i>Minione Corepeaty</h2>
    <app-corepeat-list [timeSelector]="timeSelectorType.BEFORE_CURRENT"></app-corepeat-list>
  </div>
</div>
