ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.icon {
  margin-right: 10px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

#create-corepeat {
  border: none;
  background: #1bd017;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  border-radius: 6px;
  font-size: 20px;
}

ul li {
  display: block;
  margin: 30px 0;
  padding: 30px;
  background: rgba(228, 145, 65, 0.66);
  color: #fff;
  border-radius: 6px;
}
