ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.icon {
  margin-right: 10px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page-header-elem {
}

#create-corepeat {
  border: none;
  background: #57b17e;
  padding: 20px;
  border-radius: 6px;
  font-size: 20px;
}

ul li {
  display: block;
  margin: 30px 0;
  padding: 30px;
  background: #20eaf9;
  border-radius: 6px;
}
